<section class="flex gap-5 w-full p-5">
  <div class="w-3/4">
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>CÓDIGO</th>
            <th>DETALLE</th>
            <th>CANTIDAD</th>
            <th>PRECIO UNITARIO</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr class="hover:bg-base-300">
            <th>1</th>
            <td>Moura rt 500 blk</td>
            <td>2</td>
            <td>$ 1000</td>
          </tr>
          <!-- row 2 -->
          <tr class="hover:bg-base-300">
            <th>2</th>
            <td>Hart Hagerty</td>
            <td>Desktop Support Technician</td>
            <td>Purple</td>
          </tr>
          <!-- row 3 -->
          <tr class="hover:bg-base-300">
            <th>3</th>
            <td>Brice Swyre</td>
            <td>Tax Accountant</td>
            <td>Red</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="w-1/4 border-2 border-gray-400 p-5">
    <div class=" flex flex-col justify items-start">
      <p>IVA ${{5}}</p>
      <p>Subtotal ${{5}}</p>
      <p>Subtotal ${{5}}</p>
    </div>
    <P class="text-red-700 text-right text-2xl font-bold mt-10">TOTAL ${{total}}</P>
  </div>
</section>
